.container {
    margin:auto;
    padding:10px;
}
h1 {
    display:inline-block; display:flex;
    margin-right:50px;
}

.horizontal-menu {
   background-color:#000000;
   overflow:hidden;
   display:inline-block;

}
.horizontal-menu a {
    float:left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.horizontal-menu a:hover {
        background-color: #ddd;
        color: black;
}
.horizontal-menu a.active {
    background-color:red
    color:white;
}